.wrapper-class {
  /* padding: 1rem; */
  border: 1px solid #9c9c9c;
}
.editor-class {
  background-color: transparent;
  height: 200px !important;
  color: #fefefe;
  font-size: 0.7em !important;
}

.toolbar-class {
  background-color: #9c9c9c !important;
  border: none !important;
}

.rdw-option-wrapper {
  background-color: transparent !important;
  border: none !important;
  color: #fefefe !important;
}

.rdw-dropdown-wrapper {
  background-color: transparent !important;
  border: none !important;
}

.public-DraftStyleDefault-block {
  margin: 0px !important;
}

.DraftEditor-root {
  font-size: 24px;
}
