.auth_form_container {
  --tw-bg-opacity: 1;
  background-color: rgb(42 42 42 / var(--tw-bg-opacity));
  border-radius: 20px;
}

.form_label {
  color: #a8a6a6;
  font-size: 13px;
}

.profile_input:focus {
  border-color: #24b47e; /* Change border color */
  outline: none;
  transition: all 0.3s ease; /* Smooth transition */
}

.form_input {
  background-color: transparent !important;
  border: 1px solid #a8a6a6;
  border-radius: 0;
}

.form_input:focus {
  border-color: #24b47e; /* Change border color */
  outline: none;
  transition: all 0.3s ease; /* Smooth transition */
}

.form_input::placeholder {
  color: #fefefe;
}

/* .form_input:focus {
  border: none;
} */

.form_btn {
  background-color: #24b47e;
}

.account {
  color: #24b47e;
}

.account:hover {
  color: #fefefe;
}

.options {
  color: #fefefe;
  background-color: #181818;
  opacity: 0.8;
}

.error_identifier {
  border: 1px solid rgb(153 27 27 / var(--tw-text-opacity)) !important;
}

.business_name {
  color: #fefefe;
}

.business_name:hover {
  color: #24b47e;
  transition: ease-in-out 0.4s;
}

.logo_preview {
  border-radius: 10px;
  height: 100px;
  width: 100px;
}
