.service {
  color: #fefefe;
  font-size: 1.2rem;
  font-weight: 600;
}

.service_details {
  max-width: 100%;
  margin: 50px auto;
}

.close_container {
  --tw-bg-opacity: 1;
  background-color: rgb(42 42 42 / var(--tw-bg-opacity));
  padding: 5px 30px;
  height: 400px;

  /* margin-bottom: 30px; */
  /* border-radius: 20px 20px 0 0; */
}

.form_label {
  color: #a8a6a6;
  font-size: 13px;
}

.service_intro {
  width: 73%;
  margin: 10px auto 0 auto;
}

.service_intro p {
  color: #fefefe;
  font-weight: 600;
}

.service_intro h1 {
  color: #24b47e;
  font-weight: 600;
}

.service_form {
  background-color: #181818;
  width: 70%;
  margin: -300px auto 100px auto;
  border-radius: 10px 10px 0 0;
  padding-top: 30px;
  padding-bottom: 50px;
  --tw-bg-opacity: 1;
  border: 2px solid rgb(42 42 42 / var(--tw-bg-opacity));
}

.service_form2 {
  background-color: #181818;
  margin: -300px auto 100px auto;
  border-radius: 10px 10px 0 0;
  padding-top: 30px;
  padding-bottom: 50px;
  --tw-bg-opacity: 1;
  border: 2px solid rgb(42 42 42 / var(--tw-bg-opacity));
}

.form_input {
  background-color: transparent !important;
  border: 1px solid #a8a6a6;
  border-radius: 10px;
  height: 80px;
  padding-left: 10px;
}

.form_input2 {
  background-color: transparent !important;
  border: 1px solid #a8a6a6;
  border-radius: 10px;
  height: 80px;
}

.required_field {
  color: #a8a6a6;
}

.inout_info {
  position: relative;
  color: #a8a6a6 !important;
  /* cursor: pointer; */
}

/* Create the tooltip text */

.input_info::after {
  content: attr(data-title);
  position: absolute;
  background-color: #333;
  padding: 20px;
  width: 400px;
  color: #fff;
  padding: 5px;
  border-radius: 5px;
  bottom: 100%;
  /* left: 50%; */
  transform: translateX(-50%);
  /* white-space: nowrap; */
  opacity: 0;
  pointer-events: none;
  transition: opacity 0.3s;
  margin-bottom: 20px;
}

/* Show the tooltip when hovering */

.input_info:hover::after {
  opacity: 1;
}

.form_input::placeholder {
  color: #fefefe;
}

.form_input:focus {
  border-color: #24b47e; /* Change border color */
  outline: none;
  transition: all 0.3s ease; /* Smooth transition */
}

.progress {
  background-color: #24b47e !important;
}

.error_border {
  border: 1px solid rgb(255, 121, 121);
  color: rgb(255, 121, 121);
}

.form_select {
  background-color: transparent !important;
  border: 1px solid #a8a6a6;
  border-radius: 10px;
  height: 80px;
  padding-left: 10px;
}

.error_border:focus-within {
  border: 1px solid rgb(255, 121, 121) !important;
}

.cat_options {
  color: #fefefe;
  background-color: #181818;
  opacity: 0.8;
}

.cat_options:checked {
  background-color: #24b47e !important;
  color: white !important;
}

.cat_options:hover {
  background-color: #24b47e !important;
  color: white !important;
}

.container {
  display: flex;

  justify-content: center;
  width: 100%;
}

.playerContainer {
  display: flex;
  flex-direction: column;

  /* margin-top: 5em; */
  /* border-radius: 1em; */
  /* overflow: hidden; */
}

.videoPlayer {
  /* z-index: 1; */
}

/* .controlsContainer {
  margin-top: -3.5em;
} */

.controls {
  display: flex;
  z-index: 1;
  position: relative;
  color: white;
  width: 200px;
  justify-content: space-between;
}

.controlsContainer {
  margin-top: -30px;
}

/* .videoPlayer {
  height: 200px;
} */
.controlButton {
  border: none;
  background: none;
}

.timeline {
  width: 100%;
  position: relative;
  z-index: 1;
}

.duration {
  display: flex;
  justify-content: center;
  align-items: center;
}

.form_input3 {
  background-color: transparent !important;
  color: #a8a6a6;
  font-size: 1.3rem;
}

.controlButton:hover {
  cursor: pointer;
}

.thrash i {
  color: rgb(255, 121, 121);
  --tw-bg-opacity: 1;
  background-color: rgb(42 42 42 / var(--tw-bg-opacity));
  padding: 5px;
  border-radius: 50%;
}
