.services_card {
  cursor: pointer;
  margin-bottom: 10px;
}

.business_name {
  color: #706e6e !important;
  font-size: 0.8rem !important;
}

.business_name:hover {
  color: #24b47e !important;
  transition: ease-in-out 0.5s;
}

.preview {
  height: 80%;
  border-radius: 20px;
}

.details_btn {
  background-color: #24b47e;
  color: #f3f3f3;
}

.service_info h3 {
  --tw-text-opacity: 1;
  color: rgb(255 255 255 / var(--tw-text-opacity));
  font-size: 13px;
}

.service_info a {
  color: #706e6e;
  font-weight: 600;
  font-size: 0.7rem;
}

.price_col {
  color: #24b47e;
  /* background-color: #323232; */
  font-size: 0.8rem;
  font-weight: 700;
}

.service_details {
  max-width: 95%;
  margin: 0 auto;
}

.service_description {
  /* color: #c5c4c4; */
  font-size: 0.9rem;
  margin-top: 20px;
  --tw-text-opacity: 1;
  color: rgb(210 210 210 / var(--tw-text-opacity));
}

.cart_icon {
  color: #c5c4c4;
  margin-right: 10px;
}
.service_text1 {
  color: #c5c4c4;
}

.service_text {
  color: #f3f3f3;
}

.service_button {
  background-color: #24b47e;
  /* width: 100%; */
  align-items: center;
}

.service_button:hover {
  background-color: #16a36f;
  transition: ease-in-out 0.5s;
}

.share_button {
  background-color: transparent !important;
  border: 1px solid #706e6e;
  padding: 0px;
  border-radius: 50%;
  /* cursor: pointer; */
}

.share_button2 {
  background-color: transparent !important;
  border: 1px solid #706e6e;
  padding: 6px;
  border-radius: 50%;
}

.close_container {
  --tw-bg-opacity: 1;
  background-color: rgb(42 42 42 / var(--tw-bg-opacity));
  padding: 5px 30px;
  /* margin-bottom: 30px; */
  border-radius: 20px 20px 0 0;
}

.service {
  color: #fefefe;
  font-size: 1.2rem;
  font-weight: 600;
  cursor: pointer;
}

.service:hover {
  color: #24b47e;
  transition: ease-in-out 0.5s;
}

.reco_text2 {
  text-decoration: underline;
}

.reco_text2:hover {
  color: #24b47e;
  transition: ease-in-out 0.3s;
}

.share_button2,
.share_button {
  position: relative;
  /* cursor: pointer; */
}

/* Create the tooltip text */
.share_button2::after,
.share_button::after {
  content: attr(data-title);
  position: absolute;
  background-color: #333;
  color: #fff;
  padding: 5px;
  border-radius: 5px;
  bottom: 100%;
  /* left: 50%; */
  transform: translateX(-50%);
  white-space: nowrap;
  opacity: 0;
  pointer-events: none;
  transition: opacity 0.3s;
}

/* Show the tooltip when hovering */
.share_button2:hover::after,
.share_button:hover::after {
  opacity: 1;
}

.viewmore_btn a {
  background-color: #24b47e;
  padding: 15px 0;
  width: 200px;
  text-align: center;
  border-radius: 5px;
  color: #fefefe;
  font-weight: 600;
}

.viewmore_btn a:hover {
  color: #ccf7e7;
  transition: ease-in-out 0.3s;
}

.border_color {
  --tw-border-opacity: 1;
  border-color: rgb(62 62 62 / var(--tw-border-opacity));
}
