.modal_container {
  background-color: rgb(0, 0, 0, 0.5);
}

.modal_icon {
  background-color: #24b47e;
}

.error_modal_icon {
  background-color: rgb(250, 62, 62);
}

.modal_btn {
  background-color: #24b47e;
  width: 200px;
  padding: 10px 0;
}

.error_modal_btn {
  background-color: rgb(250, 62, 62);
}
