@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  overflow-y: scroll !important;
}

body {
  background-color: #181818;
}
::-webkit-scrollbar {
  width: 5px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #181818;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #888;
}

/* main {
  height: 754px; 
  overflow-y: auto; 
} */
