.icons {
  color: #808080;
  font-weight: 600;
  font-size: 1rem;
}

.nav_bar {
  --tw-bg-opacity: 1;
  background-color: rgb(37 37 37 / var(--tw-bg-opacity));
  height: 70px;
  --tw-border-opacity: 1;
  border-color: rgb(42 42 42 / var(--tw-border-opacity));
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px 10px 10px;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px,
    rgba(0, 0, 0, 0.3) 0px 30px 60px -30px,
    rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
}
.nav_logo {
  /* display: flex;
  align-items: center;
  justify-content: center; */
}

.drop_options {
  z-index: 50 !important;
}

.nav_logo img {
  width: 130px;
}

.nav_items ul {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
}

.cta_btn {
  background-color: #24b47e;
  color: #fefefe;
  padding: 7px 15px;
  border-radius: 7px;
  font-weight: 500;
}

.cta_btn:hover {
  background-color: #16a36f;
  transition: ease-in-out 0.5s;
}

.profile_dropdown {
  color: #808080;
  font-weight: 600;
}

.profile_dropdown:hover {
  color: #f5f4f4;
  transition: ease-in-out 0.3s;
}

.search i:hover {
  color: #f5f4f4;
  transition: ease-in-out 0.3s;
}

.mode i:hover {
  color: #f5f4f4;
  transition: ease-in-out 0.3s;
}

.profile_dropdown_menu {
  background-color: #2a2a2a;
  /* z-index: 30 !important; */
}

.profile_dropdown_menu a {
  color: #fefefe;
}

@media only screen and (max-width: 576px) {
  .nav_bar {
    padding: 10px 20px 10px 2px;
  }

  .toggler,
  .search,
  .mode {
    display: none;
  }

  .cta_btn {
    display: none;
  }

  .scrolling {
    display: none !important;
  }
}
